#exclude all files
*

#include relevant files
!/.gitignore
!/Makefile
!/README.md
!/LICENSE.md

#include packages
!/collref/
!/mpostinl/
!/exframe/
!/graphbox/
!/delimset/
!/sesstime/
!/childdoc/
!/mathfixs/
